In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
sf_df = my_session.sql("select * from PLANT_GROWTH_DATA")
pandas_df = sf_df.to_pandas()

In [3]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(pandas_df, test_size=0.2)

In [4]:
y_train = x_train['GROWTH_MILESTONE']
x_train = x_train.drop('GROWTH_MILESTONE',axis=1)
y_train

42     1
78     1
37     1
18     1
71     1
      ..
135    1
121    1
85     0
10     0
158    0
Name: GROWTH_MILESTONE, Length: 154, dtype: int8

In [5]:
y_test = x_test['GROWTH_MILESTONE']
x_test = x_test.drop('GROWTH_MILESTONE',axis=1)
y_test

12     1
13     1
117    1
1      1
28     1
180    0
100    1
164    0
65     1
25     0
141    1
47     1
75     0
62     0
152    0
120    0
103    0
171    1
188    0
187    1
106    1
79     1
166    0
81     1
68     0
2      0
84     0
54     0
184    0
77     1
128    0
123    1
88     0
133    1
167    1
69     1
22     0
130    0
163    1
Name: GROWTH_MILESTONE, dtype: int8

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
for column in string_columns:
    le = LabelEncoder()
    x_train[column] = le.fit_transform(x_train[column])
x_train

,SOIL_TYPE,SUNLIGHT_HOURS,WATER_FREQUENCY,FERTILIZER_TYPE,TEMPERATURE,HUMIDITY
42,1,8.848722,0,2,15.530226,30.567682
78,1,5.671879,2,1,22.440362,43.869059
37,1,5.372789,1,1,32.129797,57.920212
18,0,6.833290,2,0,15.287870,60.910903
71,0,6.983491,2,1,31.069619,75.057901
...,...,...,...,...,...,...
135,0,8.512000,0,0,21.400000,69.300000
121,1,7.456000,0,1,24.600000,55.900000
85,0,8.032813,1,2,30.090857,79.310537
10,1,7.739789,1,1,34.097306,32.877938
158,2,5.451000,1,1,31.300000,46.100000

In [28]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(x_train, y_train)
model.score(x_train,y_train)*100
# model.score(x_test,y_test)*100

100.0

In [39]:
x_test = label_encoding_function(x_test)
y_pred =model.predict(x_test)

In [56]:
from fosforml import register_model

register_model(
  model_obj=model,
  session=my_session,
  x_train=x_train,
  y_train=y_train,
  x_test=x_test,
  y_test=y_test,
  y_pred=y_pred,
  source="Notebook",
  dataset_name="PLANT_GROWTH_DATA",
  dataset_source="Snowflake",
  name="Plant_Growth_dataset",
  description="This is a Model for the plant growth",
  flavour="sklearn",
  model_type="classification",
  conda_dependencies=["scikit-learn==1.3.2"]
)

Error in while calculating confusion_matrix  list index out of range
Calculating build time metrics

Progress: ██████████████                                                         20.0%
Calculating build time metrics

Progress: ████████████████████████████                                           40.0%
(1300) (1304): 01b5bf88-0002-a40f-0033-ac8700a60292: 001003 (42000): SQL compilation error:
syntax error line 1 at position 15 unexpected ','.
syntax error line 1 at position 14 unexpected '('.
(0000) The input of select() cannot be empty
(0000) The input of select() cannot be empty
(0000) The input of select() cannot be empty

WARNING:snowflake.snowpark.session:The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn<1.4'. Your UDF might not work when the package version is different between the server and your local environment.

(1300) (1304): 01b5bf88-0002-a5b2-0033-ac8700a54f42: 100357 (P0000): Python Interpreter Error:
Traceback (most recent call last):
  File "/opt/conda/lib/python3.9/site-packages/snowflake/ml/modeling/metrics/classification.py", line 662, in end_partition
  File "/usr/lib/python_udf/377e00d9b9ac0c9078d09d2432ad7113c7868fb82a0f8710e28f6fc4a77378db/lib/python3.9/site-packages/sklearn/utils/_param_validation.py", line 211, in wrapper
    return func(*args, **kwargs)
  File "/usr/lib/python_udf/377e00d9b9ac0c9078d09d2432ad7113c7868fb82a0f8710e28f6fc4a77378db/lib/python3.9/site-packages/sklearn/metrics/_classification.py", line 2838, in log_loss
    y_pred = check_array(
  File "/usr/lib/python_udf/377e00d9b9ac0c9078d09d2432ad7113c7868fb82a0f8710e28f6fc4a77378db/lib/python3.9/site-packages/sklearn/utils/validation.py", line 978, in check_array
    raise ValueError(
ValueError: Found array with 0 feature(s) (shape=(39, 0)) while a minimum of 1 is required.
 in function SNOWPARK_TEMP_TABLE_FUNCTION_CHYOCW65TS with handler compute
Calculating build time metrics

Progress: ██████████████████████████████████████████                             60.0%
Error in while calculating roc_auc  (0000) The input of select() cannot be empty
Calculating build time metrics

Progress: ████████████████████████████████████████████████████████               80.0%
Calculating build time metrics

Progress: ██████████████████████████████████████████████████████████████████████ 100.0%
Failed to set tags for model MODEL_D3F0D4F9_D4D0_4B78_BEA3_6D96A055F5DA_FDC_PLANT_GROWTH_DATASET.
(1304): 01b5bf89-0002-a410-0033-ac8700a61542: 000002 (0A000): Unsupported feature 'TAG'.

"Model 'MODEL_D3F0D4F9_D4D0_4B78_BEA3_6D96A055F5DA_FDC_PLANT_GROWTH_DATASET' registered successfully."

In [33]:
def label_encoding_function(x_train):
    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
    for column in string_columns:
        le = LabelEncoder()
        x_train[column] = le.fit_transform(x_train[column])
    return x_train

In [54]:
y_test

12     1
13     1
117    1
1      1
28     1
180    0
100    1
164    0
65     1
25     0
141    1
47     1
75     0
62     0
152    0
120    0
103    0
171    1
188    0
187    1
106    1
79     1
166    0
81     1
68     0
2      0
84     0
54     0
184    0
77     1
128    0
123    1
88     0
133    1
167    1
69     1
22     0
130    0
163    1
Name: GROWTH_MILESTONE, dtype: int8