In [1]:
from fosforml.model_manager.snowflakesession import get_session
my_session = get_session()

In [2]:
# sf_df = my_session.sql("select * from PLANT_GROWTH_DATA")
import pandas as pd
pandas_df = pd.read_csv("plant_growth_data.csv")

In [6]:
pandas_df.head()

,Soil_Type,Sunlight_Hours,Water_Frequency,Fertilizer_Type,Temperature,Humidity,Growth_Milestone
0,loam,5.192294,bi-weekly,chemical,31.719602,61.591861,0
1,sandy,4.033133,weekly,organic,28.919484,52.422276,1
2,loam,8.892769,bi-weekly,none,23.179059,44.660539,0
3,loam,8.241144,bi-weekly,none,18.465886,46.433227,0
4,sandy,8.374043,bi-weekly,organic,18.128741,63.625923,0

In [3]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(pandas_df, test_size=0.2)

In [7]:
y_train = x_train['Growth_Milestone']
x_train = x_train.drop('Growth_Milestone',axis=1)
y_train

97     0
192    0
95     0
188    0
175    1
      ..
151    1
115    1
96     1
131    1
129    1
Name: Growth_Milestone, Length: 154, dtype: int64

In [8]:
y_test = x_test['Growth_Milestone']
x_test = x_test.drop('Growth_Milestone',axis=1)
y_test

187    1
24     1
111    0
39     1
156    0
105    0
19     1
90     1
113    0
114    0
78     1
51     1
62     0
5      0
102    1
107    0
148    0
191    1
70     0
57     0
54     0
12     1
20     0
1      1
181    1
25     0
44     0
84     0
155    1
92     0
173    1
34     1
26     0
153    1
9      1
29     1
58     0
83     1
132    0
Name: Growth_Milestone, dtype: int64

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
for column in string_columns:
    le = LabelEncoder()
    x_train[column] = le.fit_transform(x_train[column])
x_train

,Soil_Type,Sunlight_Hours,Water_Frequency,Fertilizer_Type,Temperature,Humidity
97,1,4.244651,1,0,34.001239,50.912152
192,0,6.732000,2,1,21.700000,56.900000
95,2,5.924680,0,0,16.825734,66.285975
188,2,5.652000,1,1,28.000000,70.200000
175,1,4.568000,0,2,30.100000,48.000000
...,...,...,...,...,...,...
151,1,8.019000,2,2,27.300000,55.300000
115,1,4.546000,1,0,29.100000,71.200000
96,2,5.119111,1,2,21.386273,60.670760
131,2,7.245000,1,1,30.400000,63.400000
129,0,6.127000,1,1,25.700000,70.900000

In [10]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(random_state=42)
model.fit(x_train, y_train)
model.score(x_train,y_train)*100
# model.score(x_test,y_test)*100

100.0

In [15]:
def label_encoding_function(x_train):
    from sklearn.preprocessing import LabelEncoder
    le = LabelEncoder()
    string_columns = x_train.select_dtypes(include=['object']).columns
# Encoding each specified column
    for column in string_columns:
        le = LabelEncoder()
        x_train[column] = le.fit_transform(x_train[column])
    return x_train

In [19]:
x_test = label_encoding_function(x_test)
y_pred =pd.DataFrame(model.predict(x_test),columns=['Ouput_Growth_Milestone'])

In [20]:
from fosforml import register_model

register_model(
  model_obj=model,
  session=my_session,
  x_train=x_train,
  y_train=y_train,
  x_test=x_test,
  y_test=y_test,
  y_pred=y_pred,
  source="Notebook",
  dataset_name="PLANT_GROWTH_DATA",
  dataset_source="Snowflake",
  name="Plant_Growth_dataset",
  description="This is a Model for the plant growth",
  flavour="sklearn",
  model_type="classification",
  conda_dependencies=["scikit-learn==1.3.2"]
)

Calculating build time metrics

Progress: ██████████████                                                         20.0%
Calculating build time metrics

Progress: ████████████████████████████                                           40.0%

The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn<1.4'. Your UDF might not work when the package version is different between the server and your local environment.
DataFrame.flatten() is deprecated since 0.7.0. Use `DataFrame.join_table_function()` instead.
The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn<1.4'. Your UDF might not work when the package version is different between the server and your local environment.

Calculating build time metrics

Progress: ██████████████████████████████████████████                             60.0%

The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn==1.3.*'. Your UDF might not work when the package version is different between the server and your local environment.
The version of package 'snowflake-snowpark-python' in the local environment is 1.20.0, which does not fit the criteria for the requirement 'snowflake-snowpark-python'. Your UDF might not work when the package version is different between the server and your local environment.
The version of package 'scikit-learn' in the local environment is 1.3.2, which does not fit the criteria for the requirement 'scikit-learn==1.3.*'. Your UDF might not work when the package version is different between the server and your local environment.
The version of package 'snowflake-snowpark-python' in the local environment is 1.20.0, which does not fit the criteria for the requirement 'snowflake-snowpark-python'. Your UDF might not work when the package version is different between the server and your local environment.

Calculating build time metrics

Progress: ████████████████████████████████████████████████████████               80.0%
Calculating build time metrics

Progress: ██████████████████████████████████████████████████████████████████████ 100.0%

"Model 'MODEL_FD0CF79C_8118_43A7_8F0B_059E8F78227A_FDC_PLANT_GROWTH_DATASET' registered successfully."